html {
    font-size: 100px;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: .28em;
    line-height: 1;
    color: #333;
}
.container-main{
    position: relative;
    width: 740px;
    margin: 0 auto;
    min-height: 340px;
    padding: 0.25rem 0 1rem;
    z-index: 2;
}

.header {
    position: relative;
    background: #1abc9c;
    text-align: center;
}
.header h1 {
    display: inline-block;
    padding: 0.1rem 0;
    cursor: pointer;
}
.author {
    position: relative;
    color: #fff;
    font-size: 0.4rem;
    -webkit-transition: all .1s ease-out;
    -moz-transition: all .1s ease-out;
    -o-transition: all .1s ease-out;
    -ms-transition: all .1s ease-out;
    transition: all .1s ease-out;
}


.motto {
    position: relative;
    margin-left: -0.06rem;
    font-size: 0.18rem;
    letter-spacing: -0.01rem;
    color: #fff;
    z-index: 2;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;
    -ms-transition: all .5s ease-out;
    transition: all .5s ease-out;
}

.header h1:hover .motto {
    left: 0.26rem;
    opacity: .2;
}

.header h1:hover .author {
    letter-spacing: 0.05rem;
}